a {
text-decoration: none;
}



a:hover {
color: purple;

}



h2, 
.homepage {
	text-align: center;

}

nav ul{

	list-style-type: none;

}

nav li {

display: inline-block;
margin-right: 20px;
text-transform: uppercase;
padding-top: 16px;
margin-top: 40px;
background-color: lightgrey;



}

header{
display: grid;
grid-template-columns: 40% 60%;


}


body{
background-size: cover;
background-position: 20, 50%;



}

background-image: URL(../images/3H6A1551.jpg);


.grid {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: repeat(3, 100px);
  grid-gap: 1em;
}

header,
aside,
article,
footer {
  background: #eaeaea;
  padding: 1em;
}

header, footer {
  grid-column: 1 / 4;
}

/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}

.grid > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

